$primary-font: 'Lato' !default;
$primary-font-weight: 300;
$secondary-font: 'Roboto' !default;
$secondary-font-weight: 100;
$sub-title-font: 'Open Sans' !default;
$dark-grey: #2f2f2f !default;
$white: #ffffff !default;
