/* Put your CSS here */
html, body {
    margin: 20px;
}

body>main .jumbotron > img {
    width: 100%;
}
body>main .jumbotron {
    border-radius: 0;
    padding: 0;
    position: relative;

    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-top: -30px;
    background-color: white;
    height: 150px;
    overflow: hidden;


}
body>main .jumbotron h1{
    position:absolute;
    padding-top: 10px;
    top: 15px;
    text-align: center;
    width: 100%;
    color: #e26826;
    background: rgba(255,255,255,0.8);
}