<div class="clearfix"></div>
<div class="col-xs-12">
    <h3>Users</h3>
    <table class="table table-responsive table-bordered">
        <tr>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Admin
            </th>
            <th>
            </th>
        </tr>
        <tr ng-repeat="user in users">
            <td>
                        <span>
                            {{user.id}}
                        </span>
            </td>
            <td>
                        <span editable-text="user.firstName" e-name="firstName" e-form="rowform">
                            {{user.firstName}}
                        </span>
            </td>
            <td>
                        <span editable-text="user.lastName" e-name="lastName" e-form="rowform">
                            {{user.lastName}}
                        </span>
            </td>
            <td>
                        <span editable-checkbox="user.isAdmin" e-name="isAdmin" e-form="rowform">
                            <i ng-show="user.isAdmin" class="fa fa-check"></i>
                        </span>
            </td>
            <td>
                <form
                        editable-form
                        name="rowform"
                        onbeforesave="saveUser($data, user)"
                        ng-show="rowform.$visible"
                        class="form-buttons form-inline"
                        shown="inserted == user"
                        >
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success btn-sm">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger btn-sm">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-sm" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="removeUser($index)">del</button>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" type="text" ng-model="newUserId">
            </td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="addUser()">
                    <i class="fa fa-plus"></i>
                </button>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>

    </table>
</div>
