<!--
		//////////////////////////////////////////////////////////////
		//////////     LEFT NAV MENU     //////////
		///////////////////////////////////////////////////////////
		-->
<nav id="menu" data-search="close">
	<ul>
		<li><a ui-sref=".Dashboard" href="javascript: void(0);"><i class="icon  fa fa-laptop"></i>Dashboard</a></li>
		<li><span><i class="icon  fa fa-th-list"></i>My Cloud</span>
			<ul>
				<li><a href="#">Files</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Pictures</a></li>
				<li><a href="#">Video</a></li>
				<li><a href="#">Trash</a></li>
			</ul>
		</li>
		<li><span><i class="icon  fa fa-inbox"></i>Mail</span>
			<ul>
				<li><a href="#">Mailbox </a></li>
				<li><a href="#">Mail Settings</a></li>
			</ul>
		</li>

		<li><a href="#"><i class="icon  fa fa-calendar-o"></i>Calendar</a></li>
		<li><a href="#"><i class="icon  fa fa-calendar-o"></i>Contacts</a></li>
		<li><span><i class="icon  fa fa-align-right"></i>Settings</span>
			<ul>
				<li><a href="#">My Settings</a></li>
				<li><a href="#">User Managment</a></li>
			</ul>
		</li>
	</ul>
</nav>
<!-- //nav left menu-->