<!--
	/////////////////////////////////////////////////////////////////////////
	//////////     HEADER  CONTENT     ///////////////
	//////////////////////////////////////////////////////////////////////
	-->
<div id="header">

	<div class="logo-area clearfix">
		<a href="#" class="logo"></a>
	</div>
	<!-- //logo-area-->

	<div class="tools-bar">
		<ul class="nav navbar-nav nav-main-xs">
			<li><a href="javascript: void(0);" class="icon-toolsbar nav-mini"><i class="fa fa-bars"></i></a></li>
		</ul>
		<ul class="nav navbar-nav nav-top-xs hidden-xs tooltip-area">
			<li class="h-seperate"></li>
			<li class="dropdown">
				<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown"><i class="fa fa-th-large"></i></a>
				<ul class="dropdown-menu arrow animated fadeInDown fast">
					<li><a href="javascript: void(0);"> Bookmarks</a></li>
					<li class="divider"></li>
					<li class="dropdown-submenu"> <a tabindex="-1" href="#">Multi level options &nbsp; <i class="fa fa-angle-right"></i></a>
						<ul class="dropdown-menu  animated fadeInRight fast">
							<li><a tabindex="-1" href="#">Second level</a></li>
							<li><a href="javascript: void(0);">Second level</a></li>
							<li><a href="javascript: void(0);">Second level</a></li>
						</ul>
					</li>
				</ul>
				<!-- //dropdown-menu-->
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right tooltip-area">
			<li><a href="javascript: void(0);" class="nav-collapse avatar-header" data-toggle="tooltip" title="Show / hide  menu" data-container="body" data-placement="bottom">
				<img alt="" src="assets/img/avatar.png"  class="circle">
				<span class="badge">3</span>
			</a>
			</li>
			<li class="dropdown">
				<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					<em><strong>Hi</strong>, {{userData.id}} </em> <i class="dropdown-icon fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu pull-right icon-right arrow">
					<li><a href="javascript: void(0);"><i class="fa fa-user"></i> Profile</a></li>
					<li><a href="javascript: void(0);"><i class="fa fa-cog"></i> Setting </a></li>
					<li class="divider"></li>
					<li><a href="javascript: void(0);"><i class="fa fa-sign-out"></i> Signout </a></li>
				</ul>
				<!-- //dropdown-menu-->
			</li>
			<li class="visible-lg">
				<a href="javascript: void(0);" class="h-seperate fullscreen" data-toggle="tooltip" title="Full Screen" data-container="body"  data-placement="left">
					<i class="fa fa-expand"></i>
				</a>
			</li>
		</ul>
	</div>
	<!-- //tools-bar-->

</div>
<!-- //header-->