<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ProfileCtrl">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Profile</h1>
                    <small class="text-muted">Change your profile data</small>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">
              <div class="col-md-6 p-l-xs p-r-xs">
                  <div class="panel b-a">
                      <div class="panel-heading b-b b-light">
                        Change Password
                      </div>
                      <form>
                        <div class="clearfix panel-footer b-b">
                            <div class="form-group">
                                <input type="password" class="form-control input-sm"
                                       placeholder="Old Password" ng-model="oldPassword">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-sm"
                                       placeholder="New Password" ng-model="newPassword">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-sm"
                                       placeholder="Repeat New Password"  ng-model="newPasswordRepeat">
                            </div>
                            <div class="form-group">
                              <div class="col-lg-8 col-lg-offset-2">
                                <button class="btn btn-info"
                                        ng-click="changePassword()" >
                                  Change Password
                                </button>
                              </div>
                            </div>
                        </div>
                      </form>
                  </div>
              </div>



              <!-- aliases -->
              <div class="col-md-6 p-l-xs p-r-xs">
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light">
                      Your Aliases
                    </div>
                    <table class="table">
                      <tr ng-repeat="alias in getCurrentUser().aliases">
                        <td>
                          {{alias}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger" ng-click="removeAlias(alias)">
                            <i class="fa fa-ban"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control input-sm"
                                 placeholder="New Alias" ng-model="newAlias">
                        </td>
                        <td>
                          <button type="button" class="btn btn-success" ng-click="addAlias()">
                            <i class="fa fa-check"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                </div>
              </div>
              <!-- / aliases -->
            </div>
            <!-- / info -->


            <!-- tasks -->
            <div class="row">
            </div>
            <!-- / tasks -->

        </div>
    </div>
</div>
