<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardCtrl">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Profile</h1>
                    <small class="text-muted">Change your profile data</small>
                </div>
            </div>
        </div>
        <!-- / main header -->

        <!-- main wrapper -->
        <div class="wrapper-md">
            <!-- info -->
            <div class="row">



                <!-- info stats -->
                <div class="col-md-6 p-l-xs p-r-xs">
                    <div class="row row-sm text-center">
                        <!-- info CTA -->
                        <div class="col-xs-6">
                        </div>
                    </div>
                </div>
                <!-- / info stats -->
            </div>
            <!-- / info -->


            <!-- tasks -->
            <div class="row">
            </div>
            <!-- / tasks -->

        </div>
    </div>
</div>
